<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create from file</title>
        <style>
            * {
                padding: 0;
                margin: 0;
                font-family: sans-serif;
            }
            ul {
                list-style: none;
                padding: 30px;
            }
            li {
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <ul>
            {% for item in list %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </body>
</html>